# This file is managed by lirou / ansible
# It configures a wifi client with wpa_supplicant

p2p_disabled=1
country={{lr.wifi.country}}
update_config=1

network={
    ssid="{{item.ssid}}"
    psk="{{item.passphrase}}"
}

# eof
