# This file is managed by lirou / ansible
# It defines names for a interface by it's MAC address
# Docs: https://www.freedesktop.org/software/systemd/man/latest/systemd.link.html

[Match]
{% if 'mac' in item.rename %}
MACAddress={{item.rename.mac}}
{% else %}
OriginalName={{item.name}}
{% endif %}

[Link]
Name={{item.rename.name}}
AlternativeNamesPolicy=
AlternativeName={{item.name}}

{% for alias in item.rename.altnames|default([]) %}
AlternativeName={{alias}}
{% endfor %}
