# This file is managed by lirou / ansible
# It defines a bridge interface
# Docs: https://www.freedesktop.org/software/systemd/man/latest/systemd.netdev.html

[NetDev]
Name={{item.name}}
Description={{item.description}}
Kind=bridge
