[Unit]
Before=network-pre.target
Wants=network-pre.target
After=sys-subsystem-net-devices-{{ifname}}.device

[Service]
Type=oneshot
ExecStart=/usr/sbin/ip link property add dev {{ifname}} altname {{ifalias}}
RemainAfterExit=true
ExecStop=/bin/bash -c "/usr/sbin/ip link property del dev {{ifname}} altname {{ifalias}} || true"
StandardOutput=journal

[Install]
WantedBy=multi-user.target
