# This file is managed by ansible
# The file defines a wired network interface

[Match]
Name={{item.name}}

[Network]
Description={{item.description}}
LinkLocalAddressing=no
{% if item.dhcpclient|default(False) == True %}
DHCP=ipv4
{% else %}
{% if item.upstream|default(False) == True %}
DefaultRouteOnDevice=true
{% endif %}
{% if 'address' in item and 'prefix' in item %}
Address={{item.address}}/{{item.prefix}}
{% endif %}
# Gateway=
# Domain= whitespace separated search domains
# DNS= use multiple for more than one dns
# NTP= use multiple for more than one ntp
{% endif %}

{% set bridges = lr.lans | selectattr('state', 'eq', 'present') | selectattr('bridge', 'defined') | selectattr('bridge', 'eq', True) | selectattr('interfaces', 'contains', item.name) %}
{% if bridges|length == 1 %}
Bridge={{bridges[0].name}}
{% endif %}

{% set vlans = lr.lans | selectattr('state', 'eq', 'present') | selectattr('vlan', 'defined') | selectattr('vlan', 'eq', True) | selectattr('interface', 'defined') | selectattr('interface', 'eq', item.name) %}
{% for vlan in vlans %}
VLAN={{vlan.name}}
{% endfor %}

{% if item.dhcpclient|default(False) == True %}
[DHCPv4]
UseRoutes={{'true' if item.pull_routes|default(False) else 'false'}}
UseGateway={{'true' if item.pull_gateway|default(False) else 'false'}}
{% endif %}

{% for ip in item.additionalips|default([]) %}
[Address]
Address={{ip.address}}/{{ip.netmask}}
Label={{ip.name}}

{% endfor %}

{% for route in item.routes|default([]) %}
[Route]
#Description={{route.description}}
Destination={{route.destination}}
Gateway={{route.gateway}}

{% endfor %}

# eof
