# This file is managed by lirou / ansible
# It defines a wired network interface
# Docs: https://www.freedesktop.org/software/systemd/man/latest/systemd.network.html

[Match]
Name={{item | brickburg.linuxrouter.interfacename}}

[Network]
Description={{item.description}}
LinkLocalAddressing=no

{% if item.upstream|default(False) == True or 'gateway' in item %}
LLMNR=false
DNSOverTLS=false
DNSSEC=false
MulticastDNS=false
{% endif %}

{% if item.dhcpclient.enabled|default(False) == True %}
DHCP=ipv4
{% else %}

{% if 'address' in item and 'prefix' in item %}
Address={{item.address}}/{{item.prefix}}
{% endif %}

{% if 'gateway' in item %}
Gateway={{item.gateway}}
{% endif %}

{% for dns in item.dnsservers|default([]) %}
DNS={{dns}}
{% endfor %}

{% for ntp in item.ntpservers|default([]) %}
NTP={{ntp}}
{% endfor %}

{% if item.domains | default([]) | length > 0 %}
Domains={{item.domains|join(' ')}}
{% endif %}

{% endif %}

{% set bridges = lr.lans | selectattr('state', 'eq', 'present') | selectattr('kind', 'eq', 'bridge') | selectattr('bridge.interfaces', 'contains', item | brickburg.linuxrouter.interfacename) %}
{% if bridges|length == 1 %}
Bridge={{bridges[0].name}}
{% endif %}

{% set vlans = lr.lans | selectattr('state', 'eq', 'present') | selectattr('kind', 'eq', 'vlan') | selectattr('vlan.interface', 'eq', item | brickburg.linuxrouter.interfacename) %}
{% for vlan in vlans %}
VLAN={{vlan.name}}
{% endfor %}

{% if item.dhcpclient.enabled|default(False) == True %}
[DHCPv4]
UseRoutes={{'true' if item.dhcpclient.pull_routes|default(False) else 'false'}}
UseGateway={{'true' if item.dhcpclient.pull_gateway|default(False) else 'false'}}
UseDomains={{'true' if item.dhcpclient.pull_domains|default(False) else 'false'}}
{% endif %}

{% for ip in item.additionalips|default([]) %}
[Address]
Address={{ip.address}}/{{ip.netmask}}
Label={{ip.name}}

{% endfor %}

{% for route in item.routes|default([]) %}
[Route]
#Description={{route.description}}
Destination={{route.destination}}
Gateway={{route.gateway}}

{% endfor %}
