# This file is managed by Ansible
# The file defines a VLAN on a network interface

[NetDev]
Name={{item.vlan.interface}}.{{item.vlan.vid}}
Description={{item.description}}
Kind=vlan

[VLAN]
Id={{item.vlan.vid}}
