# This file is managed by lirou / ansible
# It defines a VLAN on a network interface
# Docs: https://www.freedesktop.org/software/systemd/man/latest/systemd.netdev.html

[NetDev]
Name={{item.name}}
Description={{item.description}}
Kind=vlan

[VLAN]
Id={{item.vlan.vid}}
