# This file is managed by lirou / ansible
# It defines a virtual wifi interface
# Docs: https://www.freedesktop.org/software/systemd/man/latest/systemd.netdev.html

[NetDev]
Name={{item.name}}
Description={{item.description}}
Kind=wlan
MACAddress={{item.mac}}

[WLAN]
PhysicalDevice={{lr.wifi.phyname}}
Type={{item.mode}}
