#!/bin/bash

# This file is managed by lirou / ansible
# It is used for debugging purposes and logs interface events to a file

echo "$0|$(date +"%Y-%m-%dT%H:%M:%S%z")|$json" >> /var/log/lirou-interface-events.log
